<div class="text-center mt-4">
    <img src="/images/Logo.jpeg" class="img-fluid rounded" width=25%/>
    <h1 class="display-4 mt-3">Build Your Perfect PC</h1>
    <p class="lead">High-quality components. Fair prices.</p>

    <a asp-controller="Products"
       asp-action="Index"
       class="btn btn-primary btn-lg mt-3">
        Shop Now
    </a>
</div>