@model E.P.C.Models.Case

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Case</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FormFactor">Form Factor</label>
                <select id="FormFactor" name="FormFactor">
                    <option value="ATX">ATX</option>
                    <option value="MicroATX">MicroATX</option>
                    <option value="MiniITX">MiniITX</option>
                    <option value="EATX">EATX</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaxGPULength" class="control-label"></label>
                <input asp-for="MaxGPULength" class="form-control" />
                <span asp-validation-for="MaxGPULength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCPUCoolerHeight" class="control-label"></label>
                <input asp-for="MaxCPUCoolerHeight" class="form-control" />
                <span asp-validation-for="MaxCPUCoolerHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriveBays" class="control-label"></label>
                <input asp-for="DriveBays" class="form-control" />
                <span asp-validation-for="DriveBays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FanSlots" class="control-label"></label>
                <input asp-for="FanSlots" class="form-control" />
                <span asp-validation-for="FanSlots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<a asp-controller="Products"
   asp-action="Index"
   class="hero-btn">
    Back To Product List
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
