@model E.P.C.Models.AIO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AIO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadiatorSize" class="control-label"></label>
                <input asp-for="RadiatorSize" class="form-control" />
                <span asp-validation-for="RadiatorSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PumpSpeed" class="control-label"></label>
                <input asp-for="PumpSpeed" class="form-control" />
                <span asp-validation-for="PumpSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FanSize" class="control-label"></label>
                <input asp-for="FanSize" class="form-control" />
                <span asp-validation-for="FanSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FanRPM" class="control-label"></label>
                <input asp-for="FanRPM" class="form-control" />
                <span asp-validation-for="FanRPM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiseLevel" class="control-label"></label>
                <input asp-for="NoiseLevel" class="form-control" />
                <span asp-validation-for="NoiseLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SupportedSockets">Socket Support:</label>
                <select id="SupportedSockets" name="SupportedSockets">
                    <option value="LGA1200">LGA1200</option>
                    <option value="LGA1700">LGA1700</option>
                    <option value="LGA1851">LGA1851</option>
                    <option value="LGA1150">LGA1150</option>
                    <option value="LGA1151">LGA1151</option>
                    <option value="LGA1155">LGA1155</option>
                    <option value="LGA1156">LGA1156</option>
                    <option value="LGA2066">LGA2066</option>
                    <option value="LGA4677">LGA4677</option>
                    <option value="STRx4">STRx4</option>
                    <option value="STR4">STR4</option>
                    <option value="STR5">STR5</option>
                    <option value="AM4">AM4</option>
                    <option value="AM5">AM5</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
