<h2>Admin Dashboard</h2>




<div>
    <a asp-controller="Products"
       asp-action="Index"
       class="btn btn-outline-primary">
        Manage Products
    </a>
</div>
<div>
    <a asp-controller="AdminCarts"
       asp-action="Index"
       class="btn btn-outline-success">
        All Carts
    </a>
</div>
