@model E.P.C.Models.GPU

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GPU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chipset" class="control-label"></label>
                <input asp-for="Chipset" class="form-control" />
                <span asp-validation-for="Chipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorySize" class="control-label"></label>
                <input asp-for="MemorySize" class="form-control" />
                <span asp-validation-for="MemorySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryType" class="control-label"></label>
                <input asp-for="MemoryType" class="form-control" />
                <span asp-validation-for="MemoryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoreClock" class="control-label"></label>
                <input asp-for="CoreClock" class="form-control" />
                <span asp-validation-for="CoreClock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoostClock" class="control-label"></label>
                <input asp-for="BoostClock" class="form-control" />
                <span asp-validation-for="BoostClock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDP" class="control-label"></label>
                <input asp-for="TDP" class="form-control" />
                <span asp-validation-for="TDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interface" class="control-label"></label>
                <input asp-for="Interface" class="form-control" />
                <span asp-validation-for="Interface" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dimensions" class="control-label"></label>
                <input asp-for="dimensions" class="form-control" />
                <span asp-validation-for="dimensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ports" class="control-label"></label>
                <input asp-for="Ports" class="form-control" />
                <span asp-validation-for="Ports" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
