@model IEnumerable<E.P.C.Models.Order>

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Total</th>
    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>@order.User.Email</td>
            <td>@order.OrderDate</td>
            <td>@order.TotalPrice</td>
        </tr>
    }
</table>

