@model IEnumerable<E.P.C.Models.Order>

<h2>Shopping Carts</h2>

<table class="table">
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Total</th>
    </tr>

    @foreach (var cart in Model)
    {
        <tr>
            <td>@cart.User.Email</td>
            <td>@cart.OrderDate</td>
            <td>@cart.TotalPrice</td>
        </tr>
    }
</table>

